<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
    <style>
        #first-p{
            text-align: center;
            margin-left: 10px;
  
        }
    </style>
</head>
<body style=" background-color: #E4DEDE;">


  <!-- header -->

    <div class="container">
        <header class="header">
          <div class="header-left">
            <img src="Assets/football.png" alt="Website Icon">
            <h1 class="header-title"><a href="/" style="color: green;">KFUPMSOC</a></h1>
          </div>
          
          <div class="header-right">
           <a href="/Sign-in"> <button class="header-button">Sign In</button></a>
          </div>
        </header>
    

        <!-- image with text and book now button -->
   
  <div class="content">
    <div class="content-text">
      <p id="first-p"><span class="content-text-break"><%= locals.trName %></span></p>
     
    <!-- <a href="/Booking/booking.html">  <span class="book-now">
        Book now
      </span></a> -->
    </div>
    <!-- <div class="content-image">
      <img src="Assets/feild.png" alt="Restaurant Image">
    </div> -->

  </div>
  
  

  


 


        <!-- Searching tool  and the main body-->
        <div class="container">
            <hr class="hr-content">
            <h1 class="header__title">Teams</h1>
            <% teams.forEach(function(team) { %>
                <a href="/Team?id=<%= team.team_id %>"><button class="card-button"><h3><%= team.team_id %></h3></button></a>
                
              <% }); %>
           
              
              <hr class="hr-content">
              <h1 class="header__title">Matches</h1>
              <% if (matches.length > 0) { %>
                <h2>Match Data</h2>
                <table>
                  <thead>
                    <tr>
                      <th>Match Number</th>
                      <th>Win/Lose</th>
                      <th>Play Date</th>
                      <th>Goal Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < matches.length; i++) { %>
                      <tr>
                        <td><%= matches[i].match_no %></td>
                        <td><%= matches[i].win_lose %></td>
                        <td><%= matches[i].play_date %></td>
                        <td><%= matches[i].goal_score %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              <% } else { %>
                <p>No match data available for this tournament.</p>
              <% } %>
    </div>
    

    <!-- end of main body -->





    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-item">
          <a href="#">Home</a>
        </div>
        <div class="footer-item">
          <a href="#">About</a>
        </div>
        <div class="footer-item">
          <a href="#">Contact us</a>
        </div>
      </div>
      <div class="footer-copy">
        &copy; 2023 all right reserved for KFUPMSOC
      </div>
    </footer>

    

    
</div>
</body>
</html>   