<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home</title>
</head>
<body style=" background-color: #E4DEDE;">


  <!-- header -->

    <div class="container">
        <header class="header">
          <div class="header-left">
            <img src="/Assets/football.png" alt="Website Icon">
            <h1 class="header-title"><a href="/" style="color: green;">KFUPMSOC</a></h1>
          </div>
          
          <div class="header-right">
           <a href="/Sign-in"> <button class="header-button">Sign In</button></a>
          </div>
        </header>
    
   
  <div class="content">
    <p id="first-p">Welcome<span class="content-text-break">to KFUPMSOC</span></p>
    </div>
    <% if (typeof error !== 'undefined' && error !== null) { %>
        <% if (message) { %>
          <div class="alert alert-success"><%= message %></div>
        <% } %>
        <% } %>

    
      <table>
        <thead>
          <tr>
            <th>Player ID</th>
            <th>Team ID</th>
            <th>Jersey Number</th>
            <th>Player Name</th>
            <th>Position to Play</th>
            <th>Date of Birth</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% if (typeof joinRequests !== 'undefined' && joinRequests !== null) { %>
          <% for (let i = 0; i < joinRequests.length; i++) { %>
            <tr>
              <td><%= joinRequests[i].player_id %></td>
              <td><%= joinRequests[i].team_id %></td>
              <td><%= joinRequests[i].jersey_no %></td>
              <td><%= joinRequests[i].player_name %></td>
              <td><%= joinRequests[i].position_to_play %></td>
              <td><%= joinRequests[i].dt_of_bir %></td>
              <td>
                <form action="/approve-request" method="post" style="display: inline;">
                  <input type="hidden" name="player_id" value="<%= joinRequests[i].player_id %>">
                  <input type="hidden" name="team_id" value="<%= joinRequests[i].team_id %>">
                  <input type="hidden" name="jersey_no" value="<%= joinRequests[i].jersey_no %>">
                  <input type="hidden" name="player_name" value="<%= joinRequests[i].player_name %>">
                  <input type="hidden" name="position_to_play" value="<%= joinRequests[i].position_to_play %>">
                  <input type="hidden" name="dt_of_bir" value="<%= joinRequests[i].dt_of_bir %>">
                  <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form action="/reject-request" method="post" style="display: inline;">
                  <input type="hidden" name="player_id" value="<%= joinRequests[i].player_id %>">
                  <input type="hidden" name="team_id" value="<%= joinRequests[i].team_id %>">
                  <button type="submit" class="btn btn-danger">Reject</button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>

    </div>
    <!-- end of main body -->
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-item">
          <a href="#">Home</a>
        </div>
        <div class="footer-item">
          <a href="#">About</a>
        </div>
        <div class="footer-item">
          <a href="#">Contact us</a>
        </div>
      </div>
      <div class="footer-copy">
        &copy; 2023 all right reserved for KFUPMSOC
      </div>
    </footer>

    

    
</div>
</body>
</html>   